variables:
  AWS_REGION: eu-central-1
  AWS_BUCKET_NAME: awesome-devops20210618085129867100000003

default:
  image: node:lts

stages:
  - publish


pages:
  stage: publish
  before_script: []
  only:
    - main
  script:
    - yarn install --frozen-lockfile --cache-folder .yarn
    - yarn build-json
    # CI=false does not let the build fail on warnings
    - CI=false yarn build
    - aws sync ./build "s3://${AWS_BUCKET_NAME}"
  artifacts:
    paths:
      - build
